* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}
body {
  background-color: #f4f4e4;
  padding-top: 50px;
}

@import "bootstrap/scss/bootstrap-grid";

header {
  background: #351021;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 10px 20px;
  color: #f4f4e4;
  z-index: 10;

  .nav-menu-index i {
    width: 24px;
    color: #f4f4e4;
  }
}

.header-language {
  background: #f4f4e4;
  display: flex;
  padding: 5px 11px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #351021;
  font-family: "Source Code Pro";
  font-weight: 600;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.header-logo {
  position: absolute;
  right: 80px;
}

.burger {
  z-index: 1;
  width: 30px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 80px;
}

.burger div {
  width: 100%;
  height: 3px;
  background: #f4f4e4;
  transition: transform 0.3s, opacity 0.3s;
}

.burger div:nth-child(1) {
  top: 0;
}

.burger div:nth-child(2) {
  top: 8px;
}

.burger div:nth-child(3) {
  top: 16px;
}

.burger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.is-active div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.burger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.links-bg {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(244, 244, 228, 0.2);
}

.nav-menu-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  background: #351021;
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
  text-decoration: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50px);
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}*/

.banner {
  background-image: url(../img/background-illu-header.png);
  background-size: cover;
  padding: 90px;
}

.banner h1 {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.intro-text-box {
  background: #fff;
  display: flex;
  width: 734px;
  height: 397px;
  padding: 60px 95px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}

.intro-text-box p {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}

.intro-text-box .btn {
  background: #351021;
  display: flex;
  height: 40px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

.bottle-image img {
  max-width: 100%;
  display: block;
  background-color: none;
  position: absolute;
  z-index: 1;
  margin-top: 134px;
}
.selection-text-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  padding: 63px 94px 63px 188px;
  margin-bottom: 89px;
  margin-top: 89px;
}

.selection-text-box p {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
.selection-text-box h2 {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
}
.selection-text-box .btn-custom {
  display: flex;
  width: 166px;
  height: 36px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  background: #351021;
  color: #f4f4e4;
  border: none;
  text-transform: uppercase;
}
.selection-text-box .btn-outline-custom {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  height: 36px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #351021;
  background-color: transparent;
}

.selection-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-top: 29px;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
}

.philosophy-box {
  background-color: #351021;
  padding-bottom: 89px;
  margin-left: -130px;
  padding-top: 89px;
}

.philosophy-box h2 {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
  padding-bottom: 23px;
  padding-left: 135px;
  white-space: nowrap;
}

.philosophy-box p {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.team-text-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  padding: 63px 94px 63px 95px;
  color: #351021;
  font-family: "Source Code Pro";
  margin-top: 89px;
}

.team-text-box h2 {
  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
}

.team-text-box p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}

.team-text-box .btn {
  margin-left: 300px;
  display: inline-flex;
  height: 34px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #351021;
  background-color: transparent;
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.team-image img {
  margin-top: -462px;
}

.visit-image img {
  margin-top: 89px;
}

.visit-section {
  display: flex;
  flex-direction: row;
  font-family: "Source Code Pro";
  background-color: #fff;
  padding-bottom: 65px;
  gap: 120px;
}

.visit-section p {
  color: #351021;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.794%; /* 20.127px */
  letter-spacing: 1.6px;
  width: 641px;
  padding-left: 97px;
  padding-top: 65px;
}

.visit-section .btn {
  display: flex;
  height: 53px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #351021;
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-top: 65px;
}

.visit-box {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(53, 16, 33, 1) 40%,
    rgba(53, 16, 33, 1) 100%
  );
}

.nav-wine-pages {
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 61px;
  border: 1px solid #351021;
  margin-top: 110px;
  margin-bottom: 110px;
}

.nav-wine-pages p {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
  text-decoration-style: solid;
}

.nav-wine-pages a {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 500;
  text-decoration-style: solid;
}

.wine-presentation-box {
  background-color: #fff;
  padding-top: 59px;
  padding-bottom: 89px;
  margin-bottom: 89px;
}

.wine-presentation-box h3 {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 24px;
  font-weight: 400;
}

.wine-presentation-box h1 {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}

.left-image {
  margin-top: 90px;
}

.right-image {
  margin-top: 90px;
}

.center-image {
  margin-top: -90px;
}

.wine-description-btn .btn {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  width: 166px;
  height: 52px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #351021;
  border-radius: none;
  border: none;
  margin-top: 63px;
  margin-bottom: 59px;
}

.test-col {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding-bottom: 23px;
}

.colone-title {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
}

.colone-text {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.wine-info {
  background-image: url(../img/background-illu-wine-page.png);
  background-position: 100%;
}

span .topline {
  padding-top: 63px;
}

.wine-info .btn {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #351021;
  border: none;
  margin: auto;
  margin-top: 63px;
  margin-bottom: 59px;
}

.event-box {
  margin-top: 89px;
}

.event-section-text {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.baril-image img {
  position: absolute;
  z-index: 1;
}

.event-box {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 27%,
    rgba(53, 16, 33, 1) 27%,
    rgba(53, 16, 33, 1) 100%
  );
  padding-bottom: 63px;
}

.event-section {
  background-color: #351021;
}

.event-section .title {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 45px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 63px;
  background-color: #351021;
}

.event-section .text {
  color: #f4f4e4;
  font-family: "Source Code Pro";
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 400;
  margin-top: 47px;
  margin-bottom: 72px;
}

.event-section .btn {
  color: #351021;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 260px;
  height: 52px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 26px;
  flex-shrink: 0;
  background-color: #f4f4e4;
  border: none;
}
